<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create new post:</h1>
    
    <form action="" method="POST" >
        <h1>Information</h1>
        Room Type: <input type="text" name="room_type">
        <br><br>
        Capacity: <input type="text" name="capacity">
        <br><br>
        Gender: <input type="text" name="gender" id="gender">
        <br><br>
        Room Area: <input type="text" name="room_area" id="room_area">
        <br><br>
        <h2>Expenses</h2>
        Rental Price: <input type="text" name="rental_price" id="rental_price">
        <br><br>
        Deposit: <input type="text" name="deposit" id="deposit">
        <br><br>
        Electricity Cost: <input type="text" name="electricity_cost">
        <br><br>
        Water cost: <input type="text" name="water_cost">
        <br><br>
        Internet cost: <input type="text" name="internet_cost">
        <br><br>

        Is there space for parking?: <input type="text" name="has_parking_space">
        <br><br>
        Parking cost: <input type="text" name="parking_cost">
        <br><br>


        <p> ---------------------- </p>
        <h1>Address</h1>
        City: <input type="text" name="city" id="">
        <br><br>
        District: <input type="text" name="district" id="">
        <br><br>
        Ward: <input type="text" name="ward" id="">
        <br><br>
        Street: <input type="text" name="street" id="">
        <br><br>
        House Number: <input type="text" name="house_number" id="">
        <br><br>

        <p> ----------------------- </p>
        <h1>Utilities</h1>
        Images: <input type="file" name="images" id="">
        <br><br>
        Utitities: <input type="text" name="utils">
        
        <p> ---------------------- </p>
        <h1>Confirmation</h1>
        Phone Number: <input type="text" name="phone_number" id="">
        <br><br>
        Title Of Post: <input type="text" name="title_of_post" id="">
        <br><br>
        Room Description: <input type="text" name="room_description" id="">
        <br><br>
        Open time: <input type="text" name="open_time" id="">
        <br><br>
        Closing time: <input type="text" name="closing_time" id="">
        <br><br>
        <input type="submit" value="Create">
    </form>
    
</body>
</html>