<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Document</title>
</head>
<body>
    <h1>Quên mật khẩu</h1>
    <form action="../user/forgot-password" method="POST">
        <p>Bạn quên mật khẩu của mình? Đừng lo lắng! Hãy cung cấp cho chúng tôi email bạn sử dụng để đăng ký tài khoản <b>Tiro</b>. <br/>
            Chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu của bạn qua email đó.</p>
        <input type="text" name="email" id="email"> 
        <br/><br/>
        <button type="submit" value="submit">Gửi email cho tôi</button>
    </form>
    <br/>

</body>
</html>