<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Document</title>
</head>
<body>
    <h1>Đăng nhập</h1>
    <form action="/user/auth/login" method="POST">
        <p class="account">Email / SĐT</p>
        <input type="text" name="account" id="account"> 
        <p class="password">Mật khẩu</p>
        <input type="text" name="password" id="password">
        <br/><br/>
        <button type="submit" value="submit">Đăng nhập</button>
    </form>
    <br/>
    <div id="g_id_onload"
        data-client_id="<%= client_id %>"
        data-context="signin"
        data-ux_mode="redirect"
        data-login_uri="http://localhost:3000/user/auth/google-login"
        data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
        data-type="icon"
        data-shape="square"
        data-theme="outline"
        data-text="$ {button.text}"
        data-size="large"
        data-locale="vi">
    </div>

    <br/>
    <div class="g_id_signout">
        <a href="/user/logout" id="signout_button">Sign out</a>        
    </div>
    <script>
        const button = document.getElementById("signout_button");
        button.onclick = () => {
            google.accounts.id.disableAutoSelect();
        }
    </script>

    <br/>
    <a href="/user/register">Tạo tài khoản</a>
    <br/>
    <a href="/user/forgot-password">Quên mật khẩu</a>

</body>
</html>